* {
  padding: 0;
  margin: 0;
}

.header-image {
  background-image: url('../images/header1.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.sub-header {
  min-height: 300px;
}

.header-name {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

.toolbar {
  min-height: 75px;
}

.toolbar-header {
  font-size: 1.2rem;
  font-weight: bold;
}
